/* @keyframes logoAnimation {
    0% {
        height: 10vh;
        background-color: red;
    }
    50% {
        height: 20vh;
        background-color: green;
    }
    100% {
        height: 10vh;
        background-color: yellow;
    }
} */


* {
    margin: 0;
    padding: 0;
}

// @media only screen and (min-width: 600px) {
    
// }

#grid-container {
    display: grid;
    background: radial-gradient(96.92% 96.92% at 51.74% -7.08%, #FFD597 0%, #B30000 73.96%);
}

img {
    width: 100%;
}

iframe {
    width: 100%;
}

#mob-header {
    display: grid;
    position: fixed;
    background: radial-gradient(59.07% 333.91% at 50.62% 22.18%, #FFD597 5.75%, rgba(224, 127, 90, 0.85359) 30.51%, #B30000 88.35%);
    width: 100%;
    min-height: 20vh;
    justify-items: center;
    align-items: center;
    top: 0;
}

#mob-header1 {
    display: grid;
    grid-template-columns: 2.8fr 3fr 3fr;
    justify-items: center;
    align-items: center;
}



#mob-header2 {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    justify-items: center;
    align-items: center;
}

#mob-button-call {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    color: #ffffff;
}

#mob-button-loc {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
}

#button-delivery {
    background-color: rgb(159, 32, 32);
    padding: 10px 40px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    color: #ffffff;
}

#button-pickup {
    background-color: rgb(159, 32, 32);
    padding: 10px 40px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    color: #ffffff;
}

#header-text1 {
    padding: 5px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 15px;
    color: black;
}

#mob-content {
    width: 100%;
    margin-top: 220px;
    min-height: 100vh;
    display: grid;
    grid-row-gap: 3ch;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

#mob-footer {
    width: 100%;
    min-height: 20vh;
    display: grid;
    justify-items: center;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr;
    column-gap: 5vw;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: #ffffff;
}

@media only screen and (min-width: 1080px) {

    iframe {
        width: 50%;
        margin-top: 170px;
        margin-left: 25%;
    }
}


/* #header-logo:hover {
    animation-name: logoAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 5;
} */