* {
    margin: 0;
    padding: 0;
}

#grid-container {
    display: grid;
    background: radial-gradient(96.92% 96.92% at 51.74% -7.08%, #FFD597 0%, #B30000 73.96%);
}


img {
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
}

#mob-header2 {
    display: grid;
    position: fixed;
    background: radial-gradient(59.07% 333.91% at 50.62% 22.18%, #FFD597 5.75%, rgba(224, 127, 90, 0.85359) 30.51%, #B30000 88.35%);
    width: 100%;
    min-height: 20vh;
    justify-items: center;
    align-items: center;
    top: 0;
}

#mob-header1-menu {
    display: grid;
    grid-template-columns: 2.8fr 3fr 3fr;
    justify-items: center;
    align-items: center;

}

#mob-header2-menu {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    justify-items: center;
    align-items: center;
}

#mob-button-call {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    color: #ffffff;
}

#mob-button-loc {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
}

#button-delivery {
    background-color: rgb(159, 32, 32);
    padding: 20px 60px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    color: #ffffff;
}

#button-pickup {
    background-color: rgb(159, 32, 32);
    padding: 20px 60px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    color: #ffffff;
}

#header-text1 {
    padding: 5px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 15px;
    color: black;
}

// ------------ C O N T E N T   &   F O O T E R

#content {
    width: 100%;
    margin-top: 210px;
    margin-bottom: 30px;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 4fr;
    column-gap: 1vw;
    row-gap: 4vh;
    a img {
        height: 100%;
    }
}


#mob-footer {
    width: 100%;
    min-height: 20vh;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr;
    column-gap: 5vw;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: #ffffff;
}

@media only screen and (min-width: 1080px) {

    img {
        width: 50%;
        margin-left: 25%;
        border-radius: 20px;
    }
}

