* {
    margin: 0;
    padding: 0;
}

#grid-container {
    display: grid;
}

#header2 {
    position: fixed;
    background-color: white;
    width: 100%;
    min-height: 20vh;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#button-delivery {
    background-color: sandybrown;
    padding: 25px 60px;
}

#button-pickup {
    background-color: sandybrown;
    padding: 25px 60px;
}

#header-text1 {
    padding: 5px;
}


#content {
    width: 100%;
    margin-top: 200px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
}


#footer {
    width: 90%;
    min-height: 20vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5vw;
}
