* {
    margin: 0;
    padding: 0;
}

#grid-container {
    display: grid;
    background: white;
}


img {
    width: 100%;
}

#mob-header2 {
    display: grid;
    position: fixed;
    background: radial-gradient(59.07% 156.91% at 54.62% 38.18%, #FFD597 5.75%, rgba(233, 129, 88, 0.854) 30.51%, #B30000 88.35%);
    width: 100%;
    min-height: 20vh;
    justify-items: center;
    align-items: center;
    top: 0;
}

#mob-header1-pmenu {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    justify-items: center;
    align-items: center;

}


#mob-header2-pmenu {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    justify-items: center;
    align-items: center;
}

#mob-button-call {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    color: #ffffff;
}

#mob-button-loc {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
}

#button-delivery {
    background-color: rgb(159, 32, 32);
    padding: 20px 60px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    color: #ffffff;
}

#button-pickup {
    background-color: rgb(159, 32, 32);
    padding: 20px 60px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    color: #ffffff;
}

#header-text1 {
    padding: 5px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 15px;
    color: black;
}

#header-text2 {
    padding: 5px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 15px;
    color: black;
    word-spacing: 5px;
}

// ------------------------- C O N T E N T

#content {
    width: 100%;
    margin-top: 230px;
    min-height: 100vh;
    display: grid;
}

#content-pizza {
    width: 70%;
    align-items: center;
    display: grid;
    margin-top: 20px;
    margin-left: 16%;
    row-gap: 10vw;
}


#mob-footer {
    width: 100%;
    min-height: 20vh;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr;
    column-gap: 5vw;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: #ffffff;
}



@media only screen and (min-width: 1080px) {

    #content-pizza {
        img {
            width: 50%;
        }
        display: grid;
        margin-top: 20px;
        grid-template-columns: 4fr 4fr;
    }

    img {
        width: 50%;
        margin-left: 25%;
    }
}