* {
    margin: 0;
    padding: 0;
}

#grid-container {
    display: grid;
    background: white;
}


img {
    width: 100%;
}

#mob-header4 {
    display: grid;
    position: fixed;
    background: radial-gradient(59.07% 156.91% at 54.62% 38.18%, #FFD597 5.75%, rgba(224, 127, 90, 0.85359) 30.51%, #B30000 88.35%);
    width: 100%;
    min-height: 20vh;
    justify-items: center;
    align-items: center;
    top: 0;
}

#mob-header1-smenu {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    justify-items: center;
    align-items: center;

}


#mob-header2-smenu {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    justify-items: center;
    align-items: center;
}

#mob-button-call {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    color: #ffffff;
}

#mob-button-loc {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
}

#button-delivery {
    background-color: rgb(159, 32, 32);
    padding: 20px 60px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    color: #ffffff;
}

#button-pickup {
    background-color: rgb(159, 32, 32);
    padding: 20px 60px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    color: #ffffff;
}

#header-text1 {
    padding: 5px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 15px;
    color: black;
}


#content {
    width: 100%;
    margin-top: 200px;
    min-height: 100vh;
    display: grid;
    grid-row-gap: 7ch;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: repeat(15, 1fr);
}


#footer {
    width: 90%;
    min-height: 20vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5vw;
}
